.vs/Anomalies2/v14/.suo
Anomalies2/Debug/Anomalies2.log
Anomalies2/Debug/Anomalies2.obj
Anomalies2/Debug/Anomalies2.tlog/Anomalies2.lastbuildstate
Anomalies2/Debug/Anomalies2.tlog/CL.command.1.tlog
Anomalies2/Debug/Anomalies2.tlog/CL.read.1.tlog
Anomalies2/Debug/Anomalies2.tlog/CL.write.1.tlog
Anomalies2/Debug/Anomalies2.tlog/link.command.1.tlog
Anomalies2/Debug/Anomalies2.tlog/link.read.1.tlog
Anomalies2/Debug/Anomalies2.tlog/link.write.1.tlog
Anomalies2/Debug/stdafx.obj
Anomalies2/Debug/vc140.idb
Anomalies2/Debug/vc140.pdb
Anomalies2.VC.db
Anomalies2.VC.VC.opendb
Anomalies2/x64/Debug/AlgoUtil.obj
Anomalies2/x64/Debug/Anomalies2.log
Anomalies2/x64/Debug/Anomalies2.obj
Anomalies2/x64/Debug/Anomalies2.tlog/Anomalies2.lastbuildstate
Anomalies2/x64/Debug/Anomalies2.tlog/CL.command.1.tlog
Anomalies2/x64/Debug/Anomalies2.tlog/CL.read.1.tlog
Anomalies2/x64/Debug/Anomalies2.tlog/CL.write.1.tlog
Anomalies2/x64/Debug/Anomalies2.tlog/link.command.1.tlog
Anomalies2/x64/Debug/Anomalies2.tlog/link.read.1.tlog
Anomalies2/x64/Debug/Anomalies2.tlog/link.write.1.tlog
Anomalies2/x64/Debug/CUtil.obj
Anomalies2/x64/Debug/MathUtils.obj
Anomalies2/x64/Debug/Sequence.obj
Anomalies2/x64/Debug/stdafx.obj
Anomalies2/x64/Debug/vc140.idb
Anomalies2/x64/Debug/vc140.pdb
Debug/Anomalies2.exe
Debug/Anomalies2.ilk
Debug/Anomalies2.pdb
x64/Debug/Anomalies2.exe
x64/Debug/Anomalies2.ilk
x64/Debug/Anomalies2.pdb
Anomalies2/Anomalies2.cpp
Anomalies2/x64/Debug/MainControl.obj
Anomalies2/x64/Debug/Support_Basic.obj
Anomalies2/x64/Debug/Tracking.obj
Anomalies2/x64/Debug/Tracklet.obj
Anomalies2/x64/Debug/Anomalies2.Build.CppClean.log
Anomalies2/x64/Debug/FrameSequence.obj
Anomalies2/x64/Debug/Ngrams.obj
Anomalies2/x64/Debug/support_basic.obj.enc
